---
import BaseLayout from '../layouts/BaseLayout.astro';
import astroLogo from '../assets/astro.svg';
import Greeting from '../components/Greeting';
const pageTitle = "Inicio";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Mi sitio <img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></h1>
  <h2>Mi impresionante subtítulo del blog</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>