---
---
<div class="nav-links">

    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Etiquetas</a>

</div>
    
<style>
    a{
        color: purple;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        transition: all 0.5s ease;
        padding: 10px;
        margin: 0 5px;
        border-radius: 5px;
    }
    a:hover{
        background-color: purple;
        color: #fff;
    }
    .select{
        background-color: purple;
        color: #fff;
    }
</style>
<script>
    const url = window.location.href;
    const [protocol,blank,host,content] = url.split("/");
    const as = document.querySelectorAll('a');
    as.forEach(item=>{
        const href = item.href.split("/");
        if(href[3]==content){
            item.classList.add("select")
            item.href="#"
        }
    })
</script>